
@{
    ViewData["Title"] = "jQuery";
}

<h1>jQuery</h1>
<button id="buttonGet" class="btn btn-primary">get</button>
<button id="buttonPost" class="btn btn-secondary">post</button>
<button id="buttonJson" class="btn btn-success">getJson</button>
<button id="buttonLoad" class="btn btn-info">load</button>
<button id="buttonAjax" class="btn btn-warning">ajax</button>
<button id="buttonCors" class="btn btn-danger">cors</button>
<div class="alert alert-dark mt-3 w-50" role="alert" id="divAlert">

</div>
@section Scripts{
    <script>
        $('#buttonGet').click(function () {
            $.get('@Url.Content("~/Api/Index")', {"name": "Ken", "age": 24}, function(data){
                $('#divAlert').text(data);
            })
            
        })
        $('#buttonPost').click(function () {
            $.post('@Url.Content("~/Api/Index")', { "name": "Rolin", "age": 27 }, function (data) {
                $('#divAlert').text(data);
            })
        })
        $('#buttonJson').click(function () {
            $.getJSON('@Url.Content("~/Api/Cities")', function(datas){
                $.each(datas, function(idx, value){
                    console.log(idx, value);

                })
            })
            $('#divAlert').text("JSON")
        })
        $('#buttonLoad').click(function () {
            $('#divAlert').load("Partial2");
        })
        $('#buttonAjax').click(function () {
            $.ajax({
                url: '@Url.Content("~/Api/Districts")',  //"@Url.Content("~/Api/Index")",
                data:{"city":"金門縣"},
                dataType: "json"
            }).done(data=>{
                //$('#divAlert').text(data);
                console.log(data);
            })
        })
        $('#buttonCors').click(function () {
            $.get("https://localhost:7068/api/shippers", function(data){
                console.log(data);
            })
            //$('#divAlert').text("CORs")
        })

    </script>
}